.app {
  padding: 2rem;
}

/* cabeçalho */
.header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1a4f72;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.header p{
  color: #ffffffd7;
}

/* forms */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #1a4f72;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-top: 4rem;
}

.form-container form {
  max-width: 400px;
  margin: 0 auto;
}

.inputs-container {
  min-height: 280px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
  color: #ffffff;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}

textarea {
  height: 120px;
}

/* actions */
.actions{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.actions button {
    font-size: .9rem;
    padding: .5rem 1rem;
    display: flex;
    gap: .3rem;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 500;
}

.actions button:hover {
    background-color: #c9c9c9;
}

.actions button span{
  color: #1a4f72;
}

.actions button svg{
  fill: #1a4f72;
}

@media only screen and (max-width: 770px) {
  .form-container{
    margin-top: 0;
  }
}