.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.steps::after {
    content: "";
    width: 380px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 20px;
}

.step {
    text-align: center;
    background-color: #1a4f72;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}

.step p {
    color: #ffffff;
}

.step svg{
    font-size: 1.6rem;
    margin-bottom: .2rem;
    fill: #ffffff9a;
}

.active {
    font-weight: bold;
}

.active > svg {
    fill: #ffffff;
}

@media(max-width:480px) {
    .steps {
        gap: 1.5rem; 
        font-size: .7rem;
    }
    
    .steps::after {
        width: 12.5rem; /*  */
    }
    
    .step svg{
        font-size: 1.2rem; /*  */
    }
}